* {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2d3142;
  padding: 20px;
}

h1 {
  color: white;
  font-size: 30px;
}

.main-container {
  display: flex;
}

.article {
  background-color: #d8d5db;
  width: 75vw;
  padding: 10px;
}

.sidebar {
  background-color: #adacb5;
  padding: 10px;
  width: 25vw;
}

.nav li {
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #2d3142;
  color: white;
  padding: 20px;
  font-size: 15px;
}

ul.nav {
  padding: 0;
  padding-left: 5px;
}
